<?xml version="1.0" encoding="UTF-8" standalone="yes"?><Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><Application>ONLYOFFICE/9.1.0.173</Application><DocSecurity>0</DocSecurity><ScaleCrop>0</ScaleCrop><HeadingPairs><vt:vector size="0" baseType="variant"></vt:vector></HeadingPairs><TitlesOfParts><vt:vector size="0" baseType="lpstr"></vt:vector></TitlesOfParts><LinksUpToDate>0</LinksUpToDate><SharedDoc>0</SharedDoc><HyperlinksChanged>0</HyperlinksChanged></Properties>